.navBar {
    background: linear-gradient(
        180deg,
        rgba(115, 115, 115) 10%,
        rgba(0, 0, 0, 0) 100%
    );
    padding-left: 115px;
    padding-right: 115px;
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap; /* stops entities from being off the page */
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.title {
    color: rgb(255 255 255);
    font-size: 1.5rem;
    line-hegiht: 2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}

.NavItems {
    display: flex;
    flex-wrap: wrap;
    color: rgb(255 255 255);
    font-size: 1.25rem;
    line-hegiht: 1.75rem;
    font-weight: 400;
}

.item {
    margin-right: 30px;
}
